<div class="header-container">
    <div class="logo-container">
        <div class="dl-logo-circle dl-logo"></div>
    </div>
    
    <ul class="tab-container">
        <li>
            <a routerLink="/main" routerLinkActive="active">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a> 
        </li>

        <li>
            <a routerLink="/setting" routerLinkActive="active">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </a> 
        </li>
    </ul>
</div>
<app-global-bar></app-global-bar>