<div class="streams-header">
	<p>Streams</p>
</div>
<div class="streams-body">
	<div class="live">
		<div class="title">Live-Streams</div>
		<div class="content" malihu-scrollbar
			[scrollbarOptions]="scrollbarOptions">
			<div *ngFor="let stream of liveStreamList" class="item" mwlDraggable>
				<div>ChannelId: {{stream.channelId}}</div>
				<div>StreamId: {{stream.streamId}}</div>
				<div>StreamUri: {{stream.stream_uri}}</div>
			</div>
		</div>
		<div class="loader-container" *ngIf="isLoading">
			<div class="loader"></div>
		</div>
	</div>

	<div class="vod">
		<div class="title">VOD-Streams</div>
		<div class="content" malihu-scrollbar
			[scrollbarOptions]="scrollbarOptions">
			<div *ngFor="let stream of vodStreamList" class="item">
				<div>ChannelId: {{stream.channelId}}</div>
				<div>StreamId: {{stream.streamId}}</div>
				<div>StreamUri: {{stream.stream_uri}}</div>
			</div>
		</div>
		<div class="loader-container" *ngIf="isLoading">
			<div class="loader"></div>
		</div>
	</div>
</div>
