html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

app-root {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

app-header {
    display: flex;
    flex-flow: column nowrap;
    height: 90px;
    z-index: 2;
}

app-pane {
	position: relative;
	flex: 1;
	min-height: inherit;
	border: 1px solid black;
}

app-global-bar {
    min-height: 40px;
    background-color: var(--panther-bg);
}

app-body {
    height: calc(100% - 190px);
    z-index: 1;
}

app-display, app-setting {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}

app-display {
    background-color: var(--panther-bg);
}

app-streams {
    flex: 2;
    margin-right: 3px;
    background-color: black;
    padding: 5px;
}

app-players {
    flex: 3;
    margin-left: 3px;
    background-color: black;
    padding: 5px;
}

app-footer {
    min-height: 100px;
    background-color: var(--panther-bg);
    z-index: 2;
}

/* -------------------- Default -------------------- */

.loader {
    position: absolute;
    border: 5px solid rgba(243, 243, 243, 0.75);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}